<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar style="--background: var(--ion-color-primary)">
    <ion-button slot="start" (click)="previousState()">
      <ion-icon name="chevron-back-outline"></ion-icon>
      Back
    </ion-button>
    <ion-title style="color: white;letter-spacing: 1px;font-family: 'semi-bold';">Examen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="exam">
  <div class="main_content_div">
    <ion-label class="title_lbl">Détails de l'examen</ion-label>
    <ion-list>
      <!-- <ion-item>
        <ion-label>Code</ion-label>
        <div item-content>
          <span id="code-content">{{exam.id ?? "-"}}</span>
        </div>
      </ion-item> -->
      <ion-item>
        <ion-label>Elève</ion-label>
        <div item-content>
          <span>{{exam.studentName}}</span>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Infirmière</ion-label>
        <div item-content>
          <span id="designation-content">{{exam.examinerName}}</span>
        </div>
      </ion-item>
      <ion-item *ngIf="exam.doctorName != 'Unknown'">
        <ion-label>Médecin</ion-label>
        <div item-content>
          <span id="designation-content">{{exam.doctorName}}</span>
        </div>
      </ion-item>

      <ion-item>
        <ion-label>Date</ion-label>
        <div item-content>
          <span id="reportedAt-content" *ngIf="exam.date">{{exam.date | date :  "dd.MM.y" }}</span>
        </div>
      </ion-item>


      <ion-item-group *ngIf="exam.data">



        <div *ngFor="let ex of exam.data">
          <ion-item-divider>
            <ion-label>
              
              <h2>Données de l'examen ( {{ex.type.replaceAll("_", " ").charAt(0).toUpperCase() + ex.type.replaceAll("_", " ").slice(1)}})</h2>
            </ion-label>
          </ion-item-divider>


         

          <ion-item-sliding  button detail="true" *ngFor="let dx of ex.dt" #slidingItem>
            <ion-item>
              <ion-label>{{dx.question.replaceAll("_", " ").charAt(0).toUpperCase() + dx.question.replaceAll("_", " ").slice(1)}}</ion-label>
              <div item-content>
                <span>{{dx.answer}}</span>
              </div>
            </ion-item>
           
            <ion-item-options side="end">
              <!-- <ion-item-option color="primary" > Modifier la classe</ion-item-option>
              <ion-item-option color="danger" > Supprimer la classe</ion-item-option> -->
            </ion-item-options>
          </ion-item-sliding>

        </div>
        
      

        
          
      
      </ion-item-group>

      <div *ngIf="exam.data.length === 0">
        <ion-label>Aucune donnée d'examen disponible</ion-label>
      </div>

      <ion-item-divider>
        <ion-label>
          <h2>Problème de santé</h2>
        </ion-label>
      </ion-item-divider>

      <ion-item-group >

      </ion-item-group>
    </ion-list>



    <ion-button expand="block" color="primary" (click)="new()" *ngIf="isMedecin && !hasExamenClinique()">Examin clinique</ion-button>
    <!-- <ion-button expand="block" color="primary" (click)="open(exam)">Modifier l'examen</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal(exam)">Supprimer l'examen</ion-button> -->

    <div>

    </div>
  </div>



</ion-content>