<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar style="--background: var(--ion-color-primary)">
    <ion-title style="color: white;letter-spacing: 1px;font-family: 'semi-bold';">Suivi de problèmes</ion-title>
  </ion-toolbar>
</ion-header>

<!-- todo: add elasticsearch support -->
<ion-content  >
  <div class="main_content_div">
    <ion-label class="title_lbl">Tous les problèmes</ion-label>
    <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="fetchFollowups($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  
    <!-- <div class="notification_div">
      <ion-segment value="Unresolved" (ionChange)="segmentChanged($event.target.value)" [(ngModel)]="segment">
        <ion-segment-button value="Unresolved">
          <ion-label>Unresolved</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Resolved">
          <ion-label>Resolved</ion-label>
        </ion-segment-button>
      </ion-segment>
    </div> -->
    
    
  
  
    <ion-searchbar  (ionChange)="search($event.target.value)" debounce="100" animated="true" placeholder="Recherche..."></ion-searchbar>
  
    <ion-list>
      <ion-item-sliding button detail="true" *ngFor="let exam of followups;" #slidingItem>
        <ion-item button (click)="view(exam.id)">
          <ion-label>
            <h3>Elève: {{exam.studentName}}</h3>
            <p>Medecin/infirmier: {{exam.examinerName}}</p>
            <p><b>Date: {{exam.date | date :  "dd.MM.y"}}</b></p>
          </ion-label>
          <div *ngIf="!exam.resolved">
            <ion-badge style="background-color: #02AAB0;" *ngIf="exam.priority==='LOW'">LOW </ion-badge>
            <ion-badge color="warning" *ngIf="exam.priority==='MEDIUM'">MEDIUM</ion-badge>
            <ion-badge style="background-color: #b31217;" *ngIf="exam.priority==='HIGH'">HIGH</ion-badge>
          </div>
          <div *ngIf="exam.resolved">
            <ion-badge  style="background-color : var(--ion-color-primary) ; text-align: right;" ><b>Resolved in</b><br> xxxx</ion-badge>
          </div>
          
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option  color="primary" >
            Evaluer
          </ion-item-option>
          <ion-item-option  color="primary" (click)="edit(slidingItem, exam)">
            Modifier
          </ion-item-option>
          <ion-item-option  color="danger" (click)="delete(exam)"> Supprimer </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-item *ngIf="!followups?.length">
      <ion-label> Aucun suivi de problème réalisé. </ion-label>
    </ion-item>
  
    
  </div>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>

