<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar style="--background: var(--ion-color-primary)">
    <ion-title style="color: white; letter-spacing: 1px; font-family: 'semi-bold';">Examens</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <ion-label class="title_lbl">Tous les examens</ion-label>

    <!-- Rafraîchissement -->
    <ion-refresher [disabled]="plt.is('desktop')" slot="fixed" (ionRefresh)="fetchExams($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <!-- Barre de recherche -->
    <ion-searchbar
      
      (ionChange)="search($event.target.value)"
      debounce="100"
      animated="true"
      placeholder="Rechercher un élève..."
      showClearButton="always"
      class="custom-searchbar"
    ></ion-searchbar>

    <!-- Liste des examens -->
    <ion-list class="exam-list">
      <ion-item-sliding *ngFor="let exam of exams" #slidingItem>
        <ion-item
          button
          (click)="view(exam.id)"
          class="exam-item"
          lines="none"
        >
          <ion-label>
            <!-- Première ligne : Nom de l'élève et badges -->
            <h3>
              {{ exam.studentName }}
              <ion-badge
                [color]="getPriorityColor(exam)"
                class="priority-badge"
              >
                {{ exam.priority }}
              </ion-badge>
              <ion-badge
                class="problem-badge"
                *ngIf="exam.hasDoctor"
              >
                {{ exam.problems?.length || 0 }} {{ (exam.problems?.length || 0) === 1 ? 'problème' : 'problèmes' }}
              </ion-badge>
            </h3>
            <!-- Deuxième ligne : Médecin et date -->
            <p>
              <span class="doctor">Examiné par: <span>{{ exam.examinerName }}</span> <span *ngIf="exam.doctor!='Unknown'">, {{exam.doctor }}</span></span>
              <span class="date">Date: {{ exam.date | date:'dd.MM.yyyy' }}</span>
            </p>
          </ion-label>
        </ion-item>

        <!-- Actions contextuelles -->
        <ion-item-options side="end">
          <!-- <ion-item-option *ngIf="exam.status === 'Unresolved'" color="primary" (click)="resolve(slidingItem, exam)">
            Évaluer
          </ion-item-option> -->
          <ion-item-option color="primary" (click)="edit(slidingItem, exam)">
            Modifier
          </ion-item-option>
          <ion-item-option color="danger" (click)="delete(exam.id)">
            Supprimer
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <!-- Message si aucun examen n'est trouvé -->
      <ion-item *ngIf="!exams?.length" lines="none">
        <ion-label class="no-results">Aucun examen trouvé.</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <!-- Bouton flottant pour ajouter un nouvel examen -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="primary" (click)="new()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>