<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar style="--background: var(--ion-color-primary)">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;letter-spacing: 1px;font-family: 'semi-bold';">Classe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="classe">
  <div class="main_content_div">
    <ion-label class="title_lbl">Details de la classe</ion-label>
    <ion-list>
      
      <ion-item>
        <ion-label>Classe</ion-label>
        <div item-content>
          <span>{{classe.name}}</span>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Nombre filles</ion-label>
        <div item-content>
          <span>{{classe.nbr_fille}}</span>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Nombre garçons</ion-label>
        <div item-content>
          <span>{{classe.nbr_garcon}}</span>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Redoublants</ion-label>
        <div item-content>
          <span>{{classe.nbr_redoublant}}</span>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Ecole</ion-label>
        <div item-content>
          <span>{{shcoolName}}</span>
        </div>
      </ion-item>
      


      <ion-item-group>
        <ion-item-divider>
          <ion-label>
            <h2>Liste d'élèves</h2>
          </ion-label>
        </ion-item-divider>
        <ion-item *ngFor="let student of students" (click)="showStudent(student)">
          <ion-label>{{student.first_name}} {{student.last_name }} {{student.surname}}</ion-label>
        </ion-item>
      </ion-item-group>


    </ion-list>



    <ion-button expand="block" color="medium" id="open-modal2">Ajouter un élève</ion-button>
    <ion-button expand="block" color="primary" (click)="edit(classe)">Modifier la classe</ion-button>
   <!--  <ion-button expand="block" color="danger" (click)="deleteModal(classe)">Supprimer la classe</ion-button> -->
  </div>

  <ion-modal trigger="open-modal2" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Ajouter un élève</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input
            label="Entrez le nom l\'élève"
            labelPlacement="stacked"
            type="text"
            placeholder="Nom"
            [(ngModel)]="studentName"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Entrez le postnom l\'élève"
            labelPlacement="stacked"
            type="text"
            placeholder="Postnom"
            [(ngModel)]="studentPostName"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Entrez le prénom l\'élève"
            labelPlacement="stacked"
            type="text"
            placeholder="Prénom"
            [(ngModel)]="studentSurname"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-select [(ngModel)]="gender" label="Sexe">
            <ion-select-option value="male">Masculin</ion-select-option>
            <ion-select-option value="female">Féminin</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-input
            type="date"
            label="Date de naissance"
            [(ngModel)]="birthDate"
          ></ion-input>
        </ion-item>
        <ion-item>
          <ion-input
            label="Entrez le lieu de naissance"
            labelPlacement="stacked"
            type="text"
            placeholder="Lieu de naissance"
            [(ngModel)]="birthPlace"
          ></ion-input>
        </ion-item>
      </ion-content>
      
  
    </ng-template>
  </ion-modal>

</ion-content>