<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar style="--background: var(--ion-color-primary)">
    <ion-buttons slot="start">
      <ion-back-button color="light">Retour</ion-back-button>
    </ion-buttons>
    <ion-title
      style="color: white; letter-spacing: 1px; font-family: 'semi-bold'"
      >Examen</ion-title
    >

    <!--  <ion-buttons slot="end">
      <ion-button id="open-modal" expand="block" (click)="save()" color="light">
        <span *ngIf="platform.is('ios')">Done</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <ion-label class="title_lbl">ajouter ou modifier un examen</ion-label>
    <ion-list>
      <ion-item-group>
        <ion-item-divider>
          <ion-label color="primary">Séléctionner l'élève </ion-label>
        </ion-item-divider>

        <!-- <ion-item>
          <ion-label>Année Scolaire</ion-label>
          <ion-select [(ngModel)]="selectedYear" (ionChange)="fetchSchools($event)">
            <ion-select-option *ngFor="let year of schoolYears" [value]="year.id">
              {{ year.year }}
            </ion-select-option>
          </ion-select>
        </ion-item> -->

        <ion-item>
          <ion-label>Ecole</ion-label>
          <ion-select
            [(ngModel)]="selectedSchool"
            (ionChange)="fetchClasses($event)"
          >
            <ion-select-option
              *ngFor="let school of schools"
              [value]="school.id"
            >
              {{ school.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Classe</ion-label>
          <ion-select
            [(ngModel)]="selectedClasse"
            (ionChange)="fetchStudents($event)"
          >
            <ion-select-option
              *ngFor="let classe of classes"
              [value]="classe.id"
            >
              {{ classe.name }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Elève</ion-label>
          <ion-select
            [(ngModel)]="selectedStudent"
            (ionChange)="readyForNexStep($event)"
          >
            <ion-select-option
              *ngFor="let student of students"
              [value]="student.id"
            >
              {{ student.first_name }} {{ student.last_name }} {{
              student.surname }}
            </ion-select-option>
          </ion-select>
        </ion-item>
      </ion-item-group>

      <div *ngIf="selectedStudent">
        <div *ngIf="step==1">
          <div *ngIf="userRoles.includes('infirmier')">
            <ion-item-group>
              <ion-item-divider>
                <ion-label color="primary">
                  {{ ucfirst( 'situation_familiale'.replace('_', ' ')) }}
                </ion-label>
              </ion-item-divider>
              <div
                *ngFor="let question of questionsInfirmier['situation_familiale']"
              >
                <ion-item
                  *ngIf="question.parent && answers[question.parent]===question.parentValue"
                >
                  <div
                    *ngIf="!question.options &&  (question.gender===studentGender || question.gender==='both') "
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-input
                      [(ngModel)]="answers[question.label]"
                      placeholder="Entrez la réponse"
                      (ionInput)="runTimeChange($event)"
                      name="{{question.label}}"
                    ></ion-input>
                  </div>

                  <div
                    *ngIf="question.options && (question.gender===studentGender || question.gender==='both') && (answers[question.parent]===question.parentValue)"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-select
                      [(ngModel)]="answers[question.label]"
                      placeholder="Sélectionnez une option"
                    >
                      <ion-select-option
                        *ngFor="let option of question.options"
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-item>
                <ion-item *ngIf="!question.parent">
                  <div
                    *ngIf="!question.options &&  (question.gender===studentGender || question.gender==='both')"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-input
                      [(ngModel)]="answers[question.label]"
                      placeholder="Entrez la réponse"
                      (ionInput)="runTimeChange($event)"
                      name="{{question.label}}"
                    ></ion-input>
                  </div>

                  <div
                    *ngIf="question.options && (question.gender===studentGender || question.gender==='both')"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-select
                      [(ngModel)]="answers[question.label]"
                      placeholder="Sélectionnez une option"
                    >
                      <ion-select-option
                        *ngFor="let option of question.options"
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-item>
              </div>
            </ion-item-group>
          </div>

          <ion-button expand="block" color="primary" (click)="goToStep2()"
            >Suivant</ion-button
          >
          <ion-button expand="block" color="danger" (click)="exit()"
            >Annuler</ion-button
          >
        </div>

        <div *ngIf="step==2">
          <div *ngIf="userRoles.includes('infirmier')">
            <ion-item-group>
              <ion-item-divider>
                <ion-label color="primary">
                  {{ ucfirst( 'calendrier_vaccinal'.replace('_', ' ')) }}
                </ion-label>
              </ion-item-divider>
              <div
                *ngFor="let question of questionsInfirmier['calendrier_vaccinal']"
              >
                <ion-item
                  *ngIf="question.parent && answers[question.parent]===question.parentValue"
                >
                  <div
                    *ngIf="!question.options &&  (question.gender===studentGender || question.gender==='both') "
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-input
                      [(ngModel)]="answers[question.label]"
                      placeholder="Entrez la réponse"
                    ></ion-input>
                  </div>

                  <div
                    *ngIf="question.options && (question.gender===studentGender || question.gender==='both') && (answers[question.parent]===question.parentValue)"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-select
                      [(ngModel)]="answers[question.label]"
                      placeholder="Sélectionnez une option"
                    >
                      <ion-select-option
                        *ngFor="let option of question.options"
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-item>
                <ion-item *ngIf="!question.parent">
                  <div
                    *ngIf="!question.options &&  (question.gender===studentGender || question.gender==='both')"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-input
                      [(ngModel)]="answers[question.label]"
                      placeholder="Entrez la réponse"
                    ></ion-input>
                  </div>

                  <div
                    *ngIf="question.options && (question.gender===studentGender || question.gender==='both')"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-select
                      [(ngModel)]="answers[question.label]"
                      placeholder="Sélectionnez une option"
                    >
                      <ion-select-option
                        *ngFor="let option of question.options"
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-item>
              </div>
            </ion-item-group>
          </div>
          <ion-button expand="block" color="primary" (click)="goToStep3()"
            >Suivant</ion-button
          >
          <ion-button expand="block" color="primary" (click)="retour()"
            >Retour</ion-button
          >
          <ion-button expand="block" color="danger" (click)="exit()"
            >Annuler</ion-button
          >
        </div>
        <div *ngIf="step==3">
          <div *ngIf="userRoles.includes('infirmier')">
            <ion-item-group>
              <ion-item-divider>
                <ion-label color="primary">
                  {{ ucfirst( 'deparasitage'.replace('_', ' ')) }}
                </ion-label>
              </ion-item-divider>
              <div *ngFor="let question of questionsInfirmier['deparasitage']">
                <ion-item
                  *ngIf="question.parent && answers[question.parent]===question.parentValue"
                >
                  <div
                    *ngIf="!question.options &&  (question.gender===studentGender || question.gender==='both') "
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-input
                      [(ngModel)]="answers[question.label]"
                      placeholder="Entrez la réponse"
                    ></ion-input>
                  </div>

                  <div
                    *ngIf="question.options && (question.gender===studentGender || question.gender==='both') && (answers[question.parent]===question.parentValue)"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-select
                      [(ngModel)]="answers[question.label]"
                      placeholder="Sélectionnez une option"
                    >
                      <ion-select-option
                        *ngFor="let option of question.options"
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-item>
                <ion-item *ngIf="!question.parent">
                  <div
                    *ngIf="!question.options &&  (question.gender===studentGender || question.gender==='both')"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-input
                      [(ngModel)]="answers[question.label]"
                      placeholder="Entrez la réponse"
                    ></ion-input>
                  </div>

                  <div
                    *ngIf="question.options && (question.gender===studentGender || question.gender==='both')"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-select
                      [(ngModel)]="answers[question.label]"
                      placeholder="Sélectionnez une option"
                    >
                      <ion-select-option
                        *ngFor="let option of question.options"
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-item>
              </div>
            </ion-item-group>
          </div>
          <ion-button expand="block" color="primary" (click)="goToStep4()"
            >Suivant</ion-button
          >
          <ion-button expand="block" color="primary" (click)="retour()"
            >Retour</ion-button
          >
          <ion-button expand="block" color="danger" (click)="exit()"
            >Annuler</ion-button
          >
        </div>
        <div *ngIf="step==4">
          <div *ngIf="userRoles.includes('infirmier')">
            <ion-item-group>
              <ion-item-divider>
                <ion-label color="primary">
                  {{ ucfirst( 'comportement_langage'.replace('_', ' ')) }}
                </ion-label>
              </ion-item-divider>
              <div
                *ngFor="let question of questionsInfirmier['comportement_langage']"
              >
                <ion-item
                  *ngIf="question.parent && answers[question.parent]===question.parentValue"
                >
                  <div
                    *ngIf="!question.options &&  (question.gender===studentGender || question.gender==='both') "
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-input
                      [(ngModel)]="answers[question.label]"
                      placeholder="Entrez la réponse"
                    ></ion-input>
                  </div>

                  <div
                    *ngIf="question.options && (question.gender===studentGender || question.gender==='both') && (answers[question.parent]===question.parentValue)"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-select
                      [(ngModel)]="answers[question.label]"
                      placeholder="Sélectionnez une option"
                    >
                      <ion-select-option
                        *ngFor="let option of question.options"
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-item>
                <ion-item *ngIf="!question.parent">
                  <div
                    *ngIf="!question.options &&  (question.gender===studentGender || question.gender==='both')"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-input
                      [(ngModel)]="answers[question.label]"
                      placeholder="Entrez la réponse"
                    ></ion-input>
                  </div>

                  <div
                    *ngIf="question.options && (question.gender===studentGender || question.gender==='both')"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-select
                      [(ngModel)]="answers[question.label]"
                      placeholder="Sélectionnez une option"
                    >
                      <ion-select-option
                        *ngFor="let option of question.options"
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-item>
              </div>
            </ion-item-group>
          </div>
          <ion-button expand="block" color="primary" (click)="goToStep5()"
            >Suivant</ion-button
          >
          <ion-button expand="block" color="primary" (click)="retour()"
            >Retour</ion-button
          >
          <ion-button expand="block" color="danger" (click)="exit()"
            >Annuler</ion-button
          >
        </div>
        <div *ngIf="step==5">
          <div *ngIf="userRoles.includes('infirmier')">
            <ion-item-group>
              <ion-item-divider>
                <ion-label color="primary">
                  {{ ucfirst( 'anamnese'.replace('_', ' ')) }}
                </ion-label>
              </ion-item-divider>
              <div *ngFor="let question of questionsInfirmier['anamnese']">
                <ion-item
                  *ngIf="question.parent && answers[question.parent]===question.parentValue"
                >
                  <div
                    *ngIf="!question.options &&  (question.gender===studentGender || question.gender==='both') "
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-input
                      [(ngModel)]="answers[question.label]"
                      placeholder="Entrez la réponse"
                      (ionInput)="runTimeChange($event)"
                      name="{{question.label}}"
                    ></ion-input>
                  </div>

                  <div
                    *ngIf="question.options && (question.gender===studentGender || question.gender==='both') && (answers[question.parent]===question.parentValue)"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-select
                      [(ngModel)]="answers[question.label]"
                      placeholder="Sélectionnez une option"
                    >
                      <ion-select-option
                        *ngFor="let option of question.options"
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-item>
                <ion-item *ngIf="!question.parent">
                  <div
                    *ngIf="!question.options &&  (question.gender===studentGender || question.gender==='both')"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-input
                      [(ngModel)]="answers[question.label]"
                      placeholder="Entrez la réponse"
                      (ionInput)="runTimeChange($event)"
                      name="{{question.label}}"
                    ></ion-input>
                  </div>

                  <div
                    *ngIf="question.options && (question.gender===studentGender || question.gender==='both')"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-select
                      [(ngModel)]="answers[question.label]"
                      placeholder="Sélectionnez une option"
                    >
                      <ion-select-option
                        *ngFor="let option of question.options"
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-item>
              </div>
            </ion-item-group>
          </div>
          <ion-button expand="block" color="primary" (click)="goToStep7()"
            >Suivant</ion-button
          >
          <ion-button expand="block" color="primary" (click)="retour()"
            >Retour</ion-button
          >
          <ion-button expand="block" color="danger" (click)="exit()"
            >Annuler</ion-button
          >
        </div>
        <div *ngIf="step==6">
          <div *ngIf="userRoles.includes('Medecin')">
            <div *ngFor="let type of examTypes">
              <ion-item-divider>
                <ion-label color="primary">
                  <b>{{ ucfirst(type.replaceAll('_', ' ')) }}</b>
                </ion-label>
              </ion-item-divider>
              <div *ngFor="let question of questionsMedecin[type]">
                <ion-item
                  *ngIf="question.parent && answers[question.parent]===question.parentValue"
                >
                  <div
                    *ngIf="!question.options &&  (question.gender===studentGender || question.gender==='both') "
                  >
                    <ion-textarea
                      [autoGrow]="true"
                      [(ngModel)]="answers[question.label]"
                      label="{{ucfirst(question.label.replaceAll('_', ' '))}}"
                      labelPlacement="stacked"
                    ></ion-textarea>
                  </div>

                  <div
                    *ngIf="question.options && (question.gender===studentGender || question.gender==='both') && (answers[question.parent]===question.parentValue)"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-select
                      [(ngModel)]="answers[question.label]"
                      placeholder="Sélectionnez une option"
                    >
                      <ion-select-option
                        *ngFor="let option of question.options"
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-item>
                <ion-item *ngIf="!question.parent">
                  <div
                    *ngIf="!question.options &&  (question.gender===studentGender || question.gender==='both')"
                  >
                    <ion-textarea
                      [autoGrow]="true"
                      [(ngModel)]="answers[question.label]"
                      label="{{ucfirst(question.label.replaceAll('_', ' '))}}"
                      labelPlacement="stacked"
                    ></ion-textarea>
                  </div>

                  <div
                    *ngIf="question.options && (question.gender===studentGender || question.gender==='both')"
                  >
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <ion-select
                      [(ngModel)]="answers[question.label]"
                      placeholder="Sélectionnez une option"
                    >
                      <ion-select-option
                        *ngFor="let option of question.options"
                        [value]="option"
                      >
                        {{ option }}
                      </ion-select-option>
                    </ion-select>
                  </div>
                </ion-item>
              </div>

            </div>


          </div>
          <ion-button expand="block" color="primary" (click)="goToStep7()"
            >Suivant</ion-button
          >
          <ion-button expand="block" color="primary" (click)="retour()"
            >Retour</ion-button
          >
          <ion-button expand="block" color="danger" (click)="exit()"
            >Annuler</ion-button
          >
        </div>
        <div *ngIf="step==7">
          <ion-item-group>
            <ion-item-divider>
              <ion-label color="primary"> <b>Résumé de l'examen</b>  </ion-label>
            </ion-item-divider>

            <div
              *ngFor="let question of questionsInfirmier['situation_familiale']"
            >
              <ion-item>
                <ion-label
                  >{{ ucfirst(question.label.replaceAll('_', ' ')) }}</ion-label
                >
                <div item-content>
                  <span>{{ answers[question.label] }}</span>
                </div>
              </ion-item>
            </div>

            <div
              *ngFor="let question of questionsInfirmier['calendrier_vaccinal']"
            >
              <ion-item>
                <ion-label
                  >{{ ucfirst(question.label.replaceAll('_', ' ')) }}</ion-label
                >
                <div item-content>
                  <span>{{ answers[question.label] }}</span>
                </div>
              </ion-item>
            </div>

            <div *ngFor="let question of questionsInfirmier['deparasitage']">
              <ion-item>
                <ion-label
                  >{{ ucfirst(question.label.replaceAll('_', ' ')) }}</ion-label
                >
                <div item-content>
                  <span>{{ answers[question.label] }}</span>
                </div>
              </ion-item>
            </div>

            <div
              *ngFor="let question of questionsInfirmier['comportement_langage']"
            >
              <ion-item>
                <ion-label
                  >{{ ucfirst(question.label.replaceAll('_', ' ')) }}</ion-label
                >
                <div item-content>
                  <span>{{ answers[question.label] }}</span>
                </div>
              </ion-item>
            </div>

            <div *ngFor="let question of questionsInfirmier['anamnese']">
              <ion-item>
                <ion-label
                  >{{ ucfirst(question.label.replaceAll('_', ' ')) }}</ion-label
                >
                <div item-content>
                  <span>{{ answers[question.label] }}</span>
                </div>
              </ion-item>
            </div>

            <div *ngIf="userRoles.includes('Medecin')">
              
              <div *ngFor="let type of examTypes">
                <ion-item-divider>
                  <ion-label color="primary">
                    <b>{{ ucfirst(type.replaceAll('_', ' ')) }}</b>
                  </ion-label>
                </ion-item-divider>
                <div *ngFor="let question of questionsMedecin[type]">
                  <ion-item>
                    <ion-label
                      >{{ ucfirst(question.label.replaceAll('_', ' '))
                      }}</ion-label
                    >
                    <div item-content>
                      <span>{{ answers[question.label] }}</span>
                    </div>
                  </ion-item>
                </div>
              </div>
              
            </div>
          </ion-item-group>

          <ion-button
            *ngIf="userRoles.includes('Medecin')"
            expand="block"
            color="primary"
            (click)="setOpen(true)"
            >Problèmes de stanté (<span *ngIf="suggestedProblems.length == 0"
              >{{evaluations.length}} confirmés</span
            >
            <span *ngIf="suggestedProblems.length > 0"
              >{{suggestedProblems.length}} détectés</span
            >)
          </ion-button>
          <ion-button expand="block" color="primary" (click)="submitExam()"
            >Soumettre</ion-button
          >
          <ion-button expand="block" color="primary" (click)="retour()"
            >Retour</ion-button
          >
          <ion-button expand="block" color="danger" (click)="exit()"
            >Annuler</ion-button
          >
        </div>
      </div>
    </ion-list>
  </div>

  <ion-modal [isOpen]="isModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Problèmes de santé</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpen(false)">Fermer</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <!-- Section de sélection manuelle -->
        <ion-item-group>
          <ion-item>
            <ion-label position="stacked">Sélectionner les problèmes</ion-label>
            <ion-select
              [(ngModel)]="selectedProblems"
              multiple="true"
              placeholder="Choisir un ou plusieurs problèmes"
            >
              <ion-select-option
                *ngFor="let problem of problems"
                [value]="problem.id"
                [disabled]="isInArray(problem.id)"
              >
                {{ problem.name }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item *ngIf="hasSelectedProblems()">
            <ion-label position="stacked"
              >Évaluer les problèmes sélectionnés</ion-label
            >
            <ion-select
              [(ngModel)]="selectedEvaluation"
              placeholder="Sélectionnez une évaluation"
            >
              <ion-select-option value="to_follow">À suivre</ion-select-option>
              <ion-select-option value="not_to_follow"
                >À ne pas suivre</ion-select-option
              >
              <ion-select-option value="attention">Attention</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button
            expand="block"
            color="medium"
            [disabled]="!selectedEvaluation || !hasSelectedProblems()"
            (click)="addProblems()"
          >
            Ajouter les problèmes sélectionnés
          </ion-button>
        </ion-item-group>

        <!-- Section des problèmes identifiés (ajoutés) -->
        <ion-item-group *ngIf="evaluations.length > 0">
          <ion-item-divider>
            <ion-label>Problèmes identifiés</ion-label>
          </ion-item-divider>
          <ion-item *ngFor="let eval of evaluations; let i = index">
            <ion-label>{{ eval.problem_name }}</ion-label>
            <div item-content>
              <span>{{ getEvaluationLabel(eval.evaluation) }}</span>
              <ion-button
                fill="clear"
                color="danger"
                (click)="removeProblem(i)"
              >
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-item>
        </ion-item-group>

        <!-- Section des problèmes suggérés -->
        <ion-item-group *ngIf="suggestedProblems.length > 0">
          <ion-item-divider>
            <ion-label
              >Problèmes suggérés par l'application ({{ suggestedProblems.length
              }})</ion-label
            >
          </ion-item-divider>
          <ion-item *ngFor="let problemId of suggestedProblems">
            <ion-label>{{ getProblemName(problemId) }}</ion-label>
            <ion-buttons slot="end">
              <ion-button
                color="warning"
                (click)="ignoreSuggestedProblem(problemId)"
              >
                Ignorer
              </ion-button>
              <ion-select
                [(ngModel)]="suggestedEvaluations[problemId]"
                placeholder="Évaluer"
                (ionChange)="evaluateSuggestedProblem(problemId)"
              >
                <ion-select-option value="to_follow"
                  >À suivre</ion-select-option
                >
                <ion-select-option value="not_to_follow"
                  >À ne pas suivre</ion-select-option
                >
                <ion-select-option value="attention"
                  >Attention</ion-select-option
                >
              </ion-select>
            </ion-buttons>
          </ion-item>
        </ion-item-group>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
