<ion-content>
  <div class="main_content_div">

    <div class="gradient_div">
      <div class="abs_round"></div>
      <div class="flex_header">
        <ion-label>Tableau de bord</ion-label>
        <!-- <ion-icon name="notifications"></ion-icon> -->
      </div>
    </div>


    <div class="container_div">

      <div class="white_box">
        <div class="flex_div">
          <ion-label class="bold_lbl" (click)="new()">Ajouter un examen</ion-label>
        </div>

        
            <div>
              <div style="display: block">
                <canvas #lineCanvas></canvas>
              </div>
            </div>
         



      </div>


      <br>
      <ion-label class="title_lbl">Details</ion-label>


     <!-- <div class="shopping_div">
        <div class="color_box" [ngStyle]="{'backgroundColor' : '#d1e7eb'}">
          <img src="assets/imgs/notification.png">
        </div>
        <div class="content_div">
          <ion-label class="date">Effectif total</ion-label>
        </div>
        <ion-label class="resolved">0 Resolved</ion-label>
        
      </div> -->

       <!-- <div class="shopping_div">
        <div class="color_box" [ngStyle]="{'backgroundColor' : '#d1e7eb'}">
          <img src="assets/imgs/notification.png">
        </div>
        <div class="content_div">
          <ion-label class="date">17 Monday June</ion-label>
        </div>
        <ion-label class="resolved">0 Resolved</ion-label>
        
      </div>

      <div class="shopping_div">
        <div class="color_box" [ngStyle]="{'backgroundColor' : '#d1e7eb'}">
          <img src="assets/imgs/notification.png">
        </div>
        <div class="content_div">
          <ion-label class="date">17 Monday June</ion-label>
        </div>
        <ion-label class="resolved">0 Resolved</ion-label>
        
      </div> -->

    </div>
    <div>
    </div>
  </div>

</ion-content>