

<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar style="--background: var(--ion-color-primary)">
    <ion-button slot="start" (click)="previousState()">
      <ion-icon name="chevron-back-outline"></ion-icon>
      Back
    </ion-button>
    <ion-title style="color: white;letter-spacing: 1px;font-family: 'semi-bold';">Ecole</ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="light">
        <span *ngIf="platform.is('ios')">Done</span>
        <ion-icon name="checkmark" *ngIf="!platform.is('ios')"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="main_content_div">
    <ion-label class="title_lbl">Créér or Modifier une école</ion-label>
    <ion-list>
      
      <ion-item>
        <ion-label position="floating">Name</ion-label>
        <ion-input [(ngModel)]="name" [ngModelOptions]="{standalone: true}" type="text" name="name" (ngModelChange)="updateForm()"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Address</ion-label>
        <!-- <ion-input type="text" name="address" formControlName="address"></ion-input> -->
        <ion-input type="text" [(ngModel)]="address" name="address" (ngModelChange)="updateForm()" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Latitude</ion-label>
        <!-- <ion-input type="text" name="location" formControlName="location"></ion-input> -->
        <ion-input type="text" name="lat" [(ngModel)]="latitude" (ngModelChange)="updateForm()" ></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Longitude</ion-label>
        <!-- <ion-input type="text" name="location" formControlName="location"></ion-input> -->
        <ion-input type="text" name="long" [(ngModel)]="longitude" (ngModelChange)="updateForm()" ></ion-input>
      </ion-item>
     
    </ion-list>
  </div>
   
</ion-content>
