<ion-content>
  <div class="main_content_div">
    <div class="gradient_div">
      <div class="abs_round"></div>
      <div class="flex_header">
        <ion-label>Account</ion-label>
        <img src="assets/imgs/edit.png" (click)="goToEditProfile()">
      </div>
    </div>


    <div class="container_div">
      <div class="white_box">

        <div *ngIf="photo">
          <img src="{{photo}}" alt="" class="user_back">
        </div>
        <div *ngIf="!photo">
          <img src="../../../assets/img/user.png" alt="" class="user_back">
        </div>

        <div class="flex_div">
          <ion-label>{{username}}</ion-label>

        </div>

        <ion-label class="grey_lbl">{{email}}</ion-label>



      </div>

      <ion-label class="title_lbl">GENERAL</ion-label>

      <div class="shopping_div" (click)="goToEditProfile()">
        <div class="color_box">
          <img src="assets/imgs/settings.png">
        </div>
        <div class="content_div">
          <ion-label class="name">Profile Settings</ion-label>
          <ion-label class="date">Modifier le profile</ion-label>
        </div>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </div>

      <div class="shopping_div" (click)="goToChangePassword()">
        <div class="color_box">
          <img src="assets/imgs/privacy.png">
        </div>
        <div class="content_div">
          <ion-label class="name">Privacy</ion-label>
          <ion-label class="date">Changer le mot de passe</ion-label>
        </div>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </div>

      <div class="shopping_div" (click)="goToSyncData()">
        <div class="color_box">
          <img src="assets/imgs/synchronization.png">
        </div>
        <div class="content_div">
          <ion-label class="name">Synchronisation</ion-label>
          <ion-label class="date">Synchroniser les données</ion-label>
        </div>
        <ion-spinner name="circular" *ngIf="loading"></ion-spinner>
        <ion-icon name="chevron-forward-sharp" *ngIf="!loading"></ion-icon>
      </div>

      <div class="shopping_div" (click)="logOut()">
        <div class="color_box">
          <ion-icon color="primary" style="padding-top: 15px;" name="log-out"></ion-icon>
        </div>
        <div class="content_div">
          <ion-label class="name">Déconnexion</ion-label>
          <ion-label class="date">Déconnectez-vous de l'application</ion-label>
        </div>
        <ion-icon name="chevron-forward-sharp"></ion-icon>
      </div>


    </div>


  </div>

</ion-content>