<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar style="--background: var(--ion-color-primary)">
    <ion-button slot="start" (click)="previousState()" style="color: white">
      <ion-icon name="chevron-back-outline" style="color: white"></ion-icon>
       <ion-label style="color: white">Back</ion-label> 
    </ion-button>
    <ion-title style="color: white;letter-spacing: 1px;font-family: 'semi-bold';">Ecole</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="school">
  <div class="main_content_div">
    <ion-label class="title_lbl">Détails de l'école</ion-label>
    <ion-list>
      <ion-item>
        <ion-label>Nom</ion-label>
        <div item-content>
          <span>{{school.name}}</span>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Adresse</ion-label>
        <div item-content>
          <span id="designation-content">{{school.address}}</span>
        </div>
      </ion-item>

      <ion-item>
        <ion-label >Quartier/Village</ion-label>
        <div item-content>
          <span id="reportedAt-content" >{{school.quartier }}</span>
        </div>
      </ion-item>

      <ion-item>
        <ion-label >Commune/Groupement</ion-label>
        <div item-content>
          <span id="reportedAt-content" >{{school.commune }}</span>
        </div>
      </ion-item>
      <ion-item>
        <ion-label >Ville/Territoire</ion-label>
        <div item-content>
          <span id="reportedAt-content" >{{school.ville }}</span>
        </div>
      </ion-item>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>
            <h2>Liste des classes</h2>
          </ion-label>
          <ion-searchbar (ionChange)="search($event.target.value)" debounce="100" animated="true" placeholder="Recherche..."> </ion-searchbar>
        </ion-item-divider>
      

        
          <ion-item-sliding button detail="true" *ngFor="let classe of classes" #slidingItem>
            <ion-item button (click)="showClasse(classe)">
              <ion-label>
                {{classe.name}}
              </ion-label>
            </ion-item>
            <ion-item-options side="end">
              <ion-item-option color="primary" (click)="editClasses(slidingItem, school)"> Modifier la classe</ion-item-option>
              <ion-item-option color="danger" (click)="deleteClasse(school)"> Supprimer la classe</ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
      
      </ion-item-group>


    </ion-list>



    <!-- <ion-button expand="block" color="medium" id="open-modal">Ajouter une classe</ion-button> -->
    <ion-button expand="block" color="primary" id="open-modal">Ajouter une classe</ion-button>
    <!-- <ion-button expand="block" color="primary" (click)="edit(school)">Modifier Ecole</ion-button> -->
    <!-- <ion-button expand="block" color="danger" (click)="deleteModal(school)">Supprimer Ecole</ion-button> -->
  </div>

  <ion-modal trigger="open-modal" (willDismiss)="onWillDismiss($event)">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel()">Cancel</ion-button>
          </ion-buttons>
          <ion-title>Ajouter une nouvelle classse</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="confirm()" [strong]="true">Confirm</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <ion-item>
          <ion-input label="Entrez le nom de la classe" labelPlacement="stacked" type="text"
            placeholder="Nom de la classe" [(ngModel)]="className"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Nombre de filles" labelPlacement="stacked" type="text"
            placeholder="Nombre de filles" [(ngModel)]="nbr_fille"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Nombre de garçons" labelPlacement="stacked" type="text"
            placeholder="Nombre de garçons" [(ngModel)]="nbr_garcon"></ion-input>
        </ion-item>
        <ion-item>
          <ion-input label="Nombre redoubants" labelPlacement="stacked" type="text"
            placeholder="Nombre redoubants" [(ngModel)]="nbr_reboublant"></ion-input>
        </ion-item>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>