<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar style="--background: var(--ion-color-primary)">
   
    <ion-button slot="start" (click)="previousState()">
      <ion-icon name="chevron-back-outline"></ion-icon>
      Back
    </ion-button>
    <ion-title
      style="color: white; letter-spacing: 1px; font-family: 'semi-bold'"
      >Elève</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="student">
  <div class="main_content_div">
    <ion-label class="title_lbl">Details de l'élève</ion-label>
    <ion-list>
      <ion-item>
        <ion-label>Nom</ion-label>
        <div item-content>
          <span
            >{{student.first_name}} {{student.last_name}}
            {{student.surname}}</span
          >
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Sexe</ion-label>
        <div item-content>
          <span *ngIf="student.gender=='male'">Masculin</span>
          <span *ngIf="student.gender=='female'">Féminin</span>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Date de naissance</ion-label>
        <div item-content>
          <span>{{student.date_of_birth | date : "dd.MM.y"}}</span>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Lieu de naissance</ion-label>
        <div item-content>
          <span>{{student.place_of_birth}}</span>
        </div>
      </ion-item>
      <ion-item *ngIf="studenClass">
        <ion-label>Classe</ion-label>
        <div item-content>
          <span>{{studenClass.name}}</span>
        </div>
      </ion-item>
      <ion-item *ngIf="studentSchool">
        <ion-label>Ecole</ion-label>
        <div item-content>
          <span>{{studentSchool.name}}</span>
        </div>
      </ion-item>
    </ion-list>

    <ion-button
      expand="block"
      color="medium"
      id="open-modal2"
      (click)="examiner()"
      >Examiner</ion-button
    >
    <ion-button expand="block" color="primary" (click)="editStudent()"
      >Modifier</ion-button
    >
    <ion-button
      expand="block"
      color="primary"
      (click)="setOpenEval(true)"
      *ngIf="studentEvaluations "
      >Problèmes de stanté ({{studentEvaluations.length}})</ion-button
    >
    <ion-button
      expand="block"
      color="primary"
      (click)="setOpenExam(true)"
      *ngIf="studentExams "
      >Resumé des exmans</ion-button
    >
    <ion-button expand="block" color="danger" (click)="deleteModal()"
      >Supprimer</ion-button
    >
  </div>

  <ion-modal [isOpen]="isEvalModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Problèmes de santé</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenEval(false)">Fermer</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-item-group *ngIf="studentEvaluations.length>0">
          <ion-item-divider>
            <ion-label> Problèmes identifiés </ion-label>
          </ion-item-divider>
          <div *ngFor="let eval of studentEvaluations">
            <ion-item>
              <ion-label>
                <h4>{{eval.problem_name}}</h4>
                <ion-note>{{ getProblemLocalisationByID(eval.id) }}</ion-note>
              </ion-label>
              <div item-content>
                <span *ngIf="eval.status==='to_follow'">A suivre</span>
                <span *ngIf="eval.status==='not_to_follow'"
                  >A ne pas suivre</span
                >
                <span *ngIf="eval.status==='attention'">Pt d'attention</span>
              </div>
            </ion-item>
            <ion-item *ngIf="eval.status === 'attention'">
              <ion-note position="stacked">{{ eval.conseil }}</ion-note>
            </ion-item>
            <ion-item *ngIf="eval.status==='to_follow'">
              <ion-note position="stacked">{{ eval.traitement }}</ion-note>
            </ion-item>
            <ion-item *ngIf="eval.status==='not_to_follow'">
              <ion-note position="stacked">{{ eval.raison }}</ion-note>
            </ion-item>
          </div>
        </ion-item-group>
      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-modal [isOpen]="isExamModalOpen">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Détail des examens</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="setOpenExam(false)">Fermer</ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content *ngIf="studentExams">
        <div *ngFor="let ex of studentExamData">
          <ion-item-divider>
            <ion-label>
              <h2>
                Données de l'examen ( {{ex.type.replaceAll("_", "
                ").charAt(0).toUpperCase() + ex.type.replaceAll("_", "
                ").slice(1)}})
              </h2>
            </ion-label>
          </ion-item-divider>

          <ion-item-sliding button detail="true" *ngFor="let dx of ex.dt" #slidingItem>
            <ion-item>
              <ion-label
                >{{dx.question.replaceAll("_", " ").charAt(0).toUpperCase() +
                dx.question.replaceAll("_", " ").slice(1)}}</ion-label
              >
              <div item-content>
                <span>{{dx.answer}}</span>
              </div>
            </ion-item>

            <ion-item-options side="end">
              <!-- <ion-item-option color="primary" > Modifier la classe</ion-item-option>
              <ion-item-option color="danger" > Supprimer la classe</ion-item-option> -->
            </ion-item-options>
          </ion-item-sliding>
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
