<ion-header class="ion-no-border" mode="ios">
  <ion-toolbar style="--background: var(--ion-color-primary)">
    <ion-buttons slot="start">
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title style="color: white;letter-spacing: 1px;font-family: 'semi-bold';">Ecole</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="student">
  <div class="main_content_div">
    <ion-label class="title_lbl">Details de l'élève</ion-label>
    <ion-list>
      <ion-item>
        <ion-label >Code</ion-label>
        <div item-content>
          <span id="code-content">{{student.id ?? "-"}}</span>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Nom</ion-label>
        <div item-content>
          <span>{{student.first_name}} {{student.last_name}} {{student.surname}}</span>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Sexe</ion-label>
        <div item-content>
          <span *ngIf="student.gender=='male'">Masculin</span>
          <span *ngIf="student.gender=='female'">Féminin</span>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Date de naissance</ion-label>
        <div item-content>
          <span>{{student.date_of_birth}}</span>
        </div>
      </ion-item>
      <ion-item>
        <ion-label>Lieu de naissance</ion-label>
        <div item-content>
          <span>{{student.place_of_birth}}</span>
        </div>
      </ion-item>
      <ion-item *ngIf="studenClass">
        <ion-label>Classe</ion-label>
        <div item-content>
          <span>{{studenClass.name}}</span>
        </div>
      </ion-item>
      <ion-item *ngIf="studentSchool">
        <ion-label>Classe</ion-label>
        <div item-content>
          <span>{{studentSchool.name}}</span>
        </div>
      </ion-item>

      <ion-item-group>
        <ion-item-divider>
          <ion-label>
            <h2>Examens réalisés</h2>
          </ion-label>
        </ion-item-divider>
        <!-- <ion-item *ngFor="let student of students" (click)="showStudent(student)">
          <ion-label>{{student.first_name}} {{student.last_name }} {{student.surname}}</ion-label>
        </ion-item> -->
      </ion-item-group>


    </ion-list>



    <ion-button expand="block" color="Medium" id="open-modal2">Examiner</ion-button>
    <ion-button expand="block" color="primary" (click)="editStudent()">Modifier</ion-button>
    <ion-button expand="block" color="danger" (click)="deleteModal()">Supprimer</ion-button>
  </div>


</ion-content>